* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  color: white;
  background: rgb(138, 43, 226);
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

main {
  width: 95%;
  align-self: center;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 3px 12px rgb(209, 181, 235);
}

.game-container {
  text-align: center;
  padding: 2rem;
}

.game-container h2 {
  color: rgb(32, 31, 31);
  font-size: 2.3rem;
  text-align: center;
}

.score-container .scores {
  margin-top: 1rem;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
}

.scores .score {
  background: #baf1ce;
  border-radius: 5px;
  color: rgb(31, 29, 29);
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.choices {
  display: flex;
  justify-content: space-between;
}

.choices .choice {
  background: rgb(204, 179, 228);
  color: rgb(53, 7, 75);
  padding: 0.5rem 1rem;
  width: calc(30% - 1rem);
  margin: 1rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.choice:hover {
  box-shadow: 0 3px 8px rgb(209, 181, 235);
}

.result {
  background: #baf1ce;
  justify-self: center;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.3rem;
}
